<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>Welcome {{user.first_name}}</h3>
    <p><a href="{% url 'friend:log_out' %}">Log Out</a></p>
    <p><a href="{% url 'friend:add_friend_page' %}">Add Friend</a></p>
    <p><a href="{% url 'friend:friend_list' %}">View your friend list</a></p>

    <h4>Recent People</h4>
    {% for user in users %}
      {% load humanize %}
      <p><strong>{{user.first_name}}</strong> was added {{user.created_at|naturaltime}}</p>
    {% endfor %}
  </body>
</html>
